@import "../../style/_color.scss";

.link {
    justify-content: flex-start;
}

.link > abbr {
    margin: 1rem 0;
    color: $input-text-label-color;
    border-bottom: 2px dotted $input-text-bottom-border-color;
}
