
@import "../../style/_theme.scss";

.preview-media {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;

    display: flex;

    flex-direction: column;

    background: rgba($color-background, 0.9);

    transition: transform 0.1s ease;
    transform: translate3d(0,0,0);

    visibility: visible;

    .header {
        .media-control {
            position: absolute;
            display: block;
            line-height: $appbar-height;
            right: 0;
            left: 0;
            text-align: center;
            user-select: none;

            .control-button {
                padding: 5px;
                cursor: pointer;
            }
        }
    }


    .body {
        flex: 1;
        height: 100%;
        width: 100%;

        padding: $spacing;

        display: flex;
        justify-content: space-around;

        .preview-image {
            flex: 1;
            margin: auto;
            width: 100%;
            height: calc(100% - #{$appbar-height});
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}

